---
import Hr from "@components/Hr.astro";
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

{
  // only display if at least one social link is enabled
  socialCount > 0 && (
    <div class="social-wrapper">
      <div class="social-links">Social Links:</div>
        <Socials />
    </div>
  )
}

<Hr />
